---
import { Picture } from "@astrojs/image/components";
import vision from "~/assets/vision.png";
import drFate from "~/assets/drfate.png"
import humanTorch from "~/assets/human-torch.png"
import ikaris from "~/assets/ikaris.png"
import Starfield from "~/components/starfield.astro";
import GitHubCorner from "./github-corner.astro";

const widths = [450, 800];
const sizes = "(min-width: 640px) 42vw, 67vw";

export function getStaticPaths () {
 return [
    {params: {
              title: 'VISION',
              image: vision,
              description:'',
            }
    },
    {params: {
              title: 'DOCTOR FATE',
              image: drFate,
              description:'',
            }
    },
    {params: {
              title: 'HUMAN TORCH',
              image: humanTorch,
              description:'',
            }
    },
    {params: {
              title: 'IKARIS',
              image: ikaris,
              description:'',
            }
    },
  ];
}

const { lang, version } = Astro.params;
---

<section class="relative h-full">
  <Starfield />
  <GitHubCorner />
  <div class="relative grid h-full place-items-center font-clash">
    <main class='bg-black p-5 shadow-xl shadow-rose-400/20'>
      <div class='grid sm:space-x-3 sm:grid-cols-4 lg:grid-cols-4
      2xl:grid-cols-4'>
          <a href={`/hero/vision`}>
            <div class='flex cursor-pointer flex-col
            items-center transition-all duration-200 hover:scale-105'>
              <Picture
                class='w-14 sm:w-28 md:w-64 object-cover'
                widths={widths}
                sizes={sizes}
                src={vision}
                loading="eager"
                alt=""
              />


              <div class='p-2 lg:p-5 text-center'>
                <h2 class='text-lg lg:text-3xl'>VISION</h2>
                <p class='mt-0 sm:mt-2 text-xs text-gray-100/20'>
                  AVENGERS
                </p>
              </div>
            </div>
          </a>
          <a href={`/hero/dr-fate`}>
            <div class='flex cursor-pointer flex-col
            items-center transition-all duration-200 hover:scale-105'>
              <Picture
                class='w-14 sm:w-20 md:w-48 object-cover'
                widths={widths}
                sizes={sizes}
                src={drFate}
                loading="eager"
                alt=""
              />


              <div class='p-2 lg:p-5 text-center'>
                <h2 class='text-xl lg:text-3xl'>DOCTOR FATE</h2>
                <p class='mt-2 text-xs text-gray-100/20'>
                  JUSTICE SOCIETY
                </p>
              </div>
            </div>
          </a>
          <a href={`/hero/human-torch`}>
            <div class='flex cursor-pointer flex-col
            items-center transition-all duration-200 hover:scale-105'>
              <Picture
                class='w-14 sm:w-20 md:w-48 object-cover'
                widths={widths}
                sizes={sizes}
                src={humanTorch}
                loading="eager"
                alt=""
              />


              <div class='p-2 lg:p-5 text-center'>
                <h2 class='text-xl lg:text-3xl'>HUMAN TORCH</h2>
                <p class='mt-2 text-xs text-gray-100/20'>
                  FANTASTIC FOUR
                </p>
              </div>
            </div>
          </a>
          <a href={`/hero/ikaris`}>
            <div class='flex cursor-pointer flex-col
            items-center transition-all duration-200 hover:scale-105'>
              <Picture
                class='w-12 sm:w-24 md:w-52 object-cover'
                widths={widths}
                sizes={sizes}
                src={ikaris}
                loading="eager"
                alt=""
              />


              <div class='p-2 lg:p-5'>
                <h2 class='text-xl lg:text-3xl'>IKARIS</h2>
                <p class='mt-2 text-xs text-gray-100/20 text-center'>
                  ETERNAL
                </p>
              </div>
            </div>
          </a>
      </div>
    </main>
  </div>
  

  
</section>

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript>

<style>
  @keyframes float {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(0, 30px, 0);
    }
  }

  #astronaut {
    animation: float linear 2.5s infinite alternate;
  }

  @media (prefers-reduced-motion: reduce) {
    #astronaut {
      @apply animate-none;
    }

    :global(#starfield) {
      @apply hidden;
    }

    #splash-bg-fallback {
      @apply block;
    }
  }
</style>
